.single-question{
    margin-bottom: 70px;
    width: 85%;
    border: outset;
    border-color: lime;
    padding: 50px;
    border-radius: 15px
}

h2 {
    font-family: sans-serif;
}

div {
    text-align: center;
}